#page_wrapper {
    position: relative;
    font-family: "Open Sans", Arial, sans-serif;
    height: 100vh;
    line-height: 1.4rem;
}

nav {
    position: fixed;
    top: 0px;
    left: 0;
    width: 300px;
    height: 100vh;
}


#below {
    margin-top: 12vh;
    overflow-y: scroll;
    height: 88vh;
}

nav a {
    display: block;
    padding: 1rem 1rem 1rem 2rem;
}


nav header {
    font-size: 1.5rem;
    position: absolute;
    width: 300px;
    padding: 2rem 2rem 1rem 2rem;
    background-color: white;
}


#main-doc {
    position: absolute;
    left: 300px;
    padding: 2rem;
}

.main-section p {
    padding-left: 1rem;
    padding-bottom: 1rem;
    color: #4d4e53;
}

.main-section header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 2rem;
    color: #4d4e53;
}

ul li {
    padding-bottom: 1rem;
}

#below a {
    text-decoration: none;
    border-top: 1px solid black;
    /*width: 300px;*/
    /*border-bottom: 1px solid black;*/
    width: 100%;
}

#below a:link, #below a:visited {
    color: #4d4e53;
}

@media (max-width: 820px) {
    nav {
        position: static;
        width: 100%;
        height: 45%;
        background-color: white;
    }

    nav header {
        position: static;
        height: 20%;
    }

    #below {
        position: static;
        border: 1px solid black;
        height: 80%;
        margin-top: 2vh;
    }

    #main-doc {
        position: static;
        height: 55%;
    }
}

code {
    font-family: monospace;
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}


